<!DOCTYPE HTML>
<% if @game.game_rules.winner(@game.board.spaces) == false %>
  <h1> Its a Tie!</h1>
<% else %>
  <h1><%=@game.game_rules.winner(@game.board.spaces)%> Has Won!</h1>
<% end %>
<a href="/games">Play Again</a>