<!DOCTYPE HTML>
<% if @game_rules.winner(@board.spaces) == false %>
  <h1> Its a Tie!</h1>
<% else %>
  <h1><%=@game_rules.winner(@board.spaces)%> Has Won!</h1>
<% end %>
<a href="/games">Play Again</a>